Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Ans:

In [2]:
#solving above problem using sort() method of list and lambda funciom

list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

list1.sort(key=lambda   x: x[1])
print(list1)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ans:

In [3]:
#using map and lambda function

l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list(map((lambda x : x**2),l2))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.

Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Ans:

In [10]:
#given list of integers

string1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#using map and lambda function
tuple(map((lambda x: str(x)), string1))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

Ans:

In [12]:
#Given list

list1 = list(range(1, 26))
print("Given list", list1)
#for using reduce functions we have to first import it

from functools import reduce

reduce(lambda x, y : x*y, list1)

Given list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.

[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Ans:

In [16]:
#given list
list2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

#filtering the number divisible by 2 and 3

list(filter((lambda x : x % 2 == 0 and x % 3 == 0), list2 ))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.


['python', 'php', 'aba', 'radar', 'level']

Ans:

In [17]:
#given list

list3 = ['python', 'php', 'aba', 'radar', 'level']

#to find palindromes using lambda and filter function

list(filter((lambda x : x == x[::-1]), list3))

['php', 'aba', 'radar', 'level']