Q1. What are the characteristics of the tuples? Is tuple immutable?

Ans:

Following are the characteristics of Tuples:

1)Tuples are immutable

2)Tuples are ordered and allows the duplicate values

3)Tuples have fixed length

4)Tuples are used when we don't want our data to be altered.

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Ans:
Tuple have only two methods which are  index() and count()


There are only two built-in methods that can be used on a tuple. This is because methods that can add or remove items are not available in the tuple. Since tuple is immutable, therefore, it does not change after the initial assigning of items.

Following are example of two method index() and count():

In [ ]:
tup = (15,32,49,35,53,67,35)

In [ ]:
tup.index(32)  #this method will find the index of first occurance of 32

1

In [ ]:
tup.count(35) #this method will find total number of occurance in tup

2

Q3. Which collection datatypes in python do not allow duplicate items?
 Write a code using a set to remove duplicates from the given list.

 List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

 Ans:

 Sets is collection datatype in python that does not allow the duplicate items.

 Following is the code to remove duplicates from the given list

In [ ]:
#gievn list
lst1 = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#let us remove the duplicates by converting the lst1 in sets
dup_removed =  list(set(lst1))
print("list without duplicates is", dup_removed)

list without duplicates is [1, 2, 3, 4]

Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

Ans:

Difference between the union() method and the update() method is that union() returns a new set that contains all the elements from both sets, while update() modifies one of the sets to include all the elements from both sets.

Following are example of each method.

In [ ]:
#union() method

set1 = {1,2,6,4,7,8,9}
set2 = {5,4,8,0,6,3,11}

#now let us use the union() method

set1.union(set2)

#Here both set1 and set2 remains unchanged and new set is created which is union of both set1 and set2

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

In [ ]:
#update method

set1.update(set2)

#let us print the set1 which will be modified and set2 will merged in set1
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Ans:

Dictionary in python is mutable data structure that allow you to store key-value pairs.

It is ordered data structure and does not allow duplicate values.

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Ans:

Yes, nested dictionary i.e. dictionary inside a dictionary is possible in pytho and python supports it.

Following is example of simple one-level nested dictionary

In [1]:
dict1 =  {"color":{"red","blue","black"}, "numbers":{1,2,3,4,5,6}}

Q7. Using setdefault() method, create key named 'topics' in the given dictionary and also add the value of the key as this list

['Python', 'Machine Learning’, 'Deep Learning']

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

Ans:

Python Dictionary setdefault() returns the value of a key (if the key is in dictionary). Else, it inserts a key with the default value to the dictionary.

In [3]:
#given dictionary
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

#using setdefault method

dict1.setdefault('topics', ['Python','Machine Learning','Deep Learning'])

#print dict1 after set default
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans:  

In Python, there are three dictionary view objects: keys() — shows us all the keys of a given dictionary, as a sequence.

values() — shows us all values of a dictionary, as a sequence.

items() — shows us all the key-value pairs of a dictionary, once again as a sequence.

Following three view of dict1

In [1]:
#given dictionary

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [2]:
#To show keys of dict1

for x in dict1.keys():
  print(x)

Sport
Teams

In [3]:
#to show values of dict1

for x in dict1.values():
  print(x)

Cricket
['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']

In [10]:
#to show items of dict1

for x,y in dict1.items():
  print("Key of dict1",x,"its corresponding value is", y)

Key of dict1 Sport its corresponding value is Cricket
Key of dict1 Teams its corresponding value is ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']